<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ tag import="java.util.List" %>
<%@tag pageEncoding="UTF-8" %>
<script src="${baseUrl}/ext/jquery/2.0.3/jquery.min.js"></script>
<script src="${baseUrl}/ext/bootstrap/3.0.3/js/bootstrap.js"></script>

<script src="${baseUrl}/ext/jquery-ui/1.10.3/ui/jquery.ui.widget.js"></script>

<script src="${baseUrl}/scripts/common.js"></script>