<%@tag pageEncoding="UTF-8" %>
<%@taglib prefix="p" tagdir="/WEB-INF/tags/page" %>
<div class="row header">
    <div class="col-xs-3">Logo</div>
    <div class="col-xs-9">Header</div>
</div>
<p:menu />