.index #games {
    width: 100%;
}

.index #games .game {
    float: left;
    width: 100px;
    margin: 0 25px 0 0;
}

.index #games .game .game-link {
    float: right;
}

#games .game .game-link {
    font-size: 8pt;
}
