.modal.danger .modal-header {
    background-color: #d9534f;
    border-radius: 5px 5px 0 0;
    border-color: #d9534f;
}

.file-upload {
    display: inline;
}

.file-upload .progress {
    margin-left: 130px;
    margin-top: -25px;
    display: none;
}

.mce-tinymce.mce-container .mce-panel button > span {
    line-height: normal;
}

.btn.form-control {
    width: 120px;
}

form label.required:after {
    content: " *";
    color: red;
}

#top-message {
    padding: 0 15px 0 15px;
    position: absolute;
    top: 0;
    right: 0;
}